#landing-page-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80vw;
    height: 80vh;
    margin-right: 10vw;
    margin-left: 10vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

#landing-page-content-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: 30%;
    height: 100%;
    margin-left: 10%;
}

#landing-page-img-container {
    display: flex;
    width: 60%;
    height: 100%;
}

#landing-page-button-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#landing-page-title {
    margin-top: 50%;
    font-size: 4rem;
    margin-right: 10%;
}

#landing-page-caption {
    margin-top: 0%;
    font-size: 1.5rem;
}

#landing-page-img {
    margin-left: 1%;
    margin-top: 1%;
    height: 90%;
    width: 90%;
}

.landing-page-button {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: #2ba4c2;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    padding: 0.6em;
    margin-right: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}


.landing-page-button a {
    color: white;
    text-decoration: none;
}
  
.landing-page-button:hover {
    background-color: #105a87;
    transition: background-color 0.5s;
}
  
.landing-page-button:active {
    background-color: #105a87;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


/*
.landing-page-button {
    display: flex;
    flex-direction: row;
    margin-left: 0%;
    margin-top: 5%;
    text-decoration: none;
    color: white;
}

.landing-page-button {
    font-weight: 700;
    text-transform: uppercase;
    background-color: #2ba4c2;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    padding: 10px 15px;
    margin-right: 20px;
    box-shadow: 0 9px #999;
}

.landing-page-button a {
    color: white;
    text-decoration: none;
}
  
.landing-page-button:hover {
    background-color: #105a87;
    transition: background-color 0.5s;
}
  
.landing-page-button:active {
    background-color: #105a87;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
*/