#landing-page-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 7%;
    margin-bottom: 5%;
    margin-right: 10%;
    margin-left: 20%;
}

#landing-page-content-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: 40%;
    height: 100%;
}

#landing-page-img-container {
    display: flex;
    width: 60%;
    height: 100%;
}

#landing-page-button-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#landing-page-title {
    margin-top: 50%;
    font-size: 80px;
    margin-bottom: 1%;
    margin-right: 10%;
}

#landing-page-caption {
    font-size: 22px;
}

#landing-page-img {
    margin-left: 3%;
}

.landing-page-button {
    display: flex;
    flex-direction: row;
    margin-left: 0px;
    margin-top: 10px;
    text-decoration: none;
    color: white;
}

.landing-page-button {
    font-weight: 700;
    text-transform: uppercase;
    background-color: #2ba4c2;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    padding: 10px 15px;
    margin-right: 20px;
    box-shadow: 0 9px #999;
}

.landing-page-button a {
    color: white;
    text-decoration: none;
}
  
.landing-page-button:hover {
    background-color: #105a87;
    transition: background-color 0.5s;
}
  
.landing-page-button:active {
    background-color: #105a87;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
