#landing-page-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    height: 100%;
    margin:10%;
}

#landing-page-content-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: 40%;
    height: 100%;
}

#landing-page-img-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 55%;
    height: 100%;
    margin-left: 5%;
}

#landing-page-button-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


#landing-page-img {
    height: 100%;
    width: 100%;
}

#landing-page-title {
    margin-top: 40%;
    font-size: 3rem;
}

#landing-page-caption {
    margin-top: 0%;
    font-size: 1.5rem;
}

.landing-page-button {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: #2ba4c2;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    padding: 0.6em;
    margin-right: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}


.landing-page-button a {
    color: white;
    text-decoration: none;
}
  
.landing-page-button:hover {
    background-color: #105a87;
    transition: background-color 0.5s;
}
  
.landing-page-button:active {
    background-color: #105a87;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}