.abouttodo-container {
    margin-top: 5%;
}

.instructions-container{
    font-size: 0.8em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 7%;
}

.abouttodo-title {
    margin-top: 70px;
    margin-bottom: 0px;
}

.delete-instructions-container,
.save-instructions-container,
.complete-instructions-container {
    display: flex;
    flex-direction: row;
    height:170px;
}

.instructions-elab {
    margin-top: 7%;
    margin-left: 3%;
    font-size: 20px;
}
  
.delete-instruction{
    cursor: default;
    line-height: 1;
    text-align: center;
    color: black;
    background: #c1edfa;
    width: 6em;
    height: 6em;
    padding: 1em;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    transform: rotate(-6deg);
    transition: transform .15s linear;
    margin: 1em;
    margin-top: 5%;
}
  
.save-instruction {
    cursor: default;
    line-height: 1;
    text-align: center;
    color: black;
    background:#e9c0fc;
    width: 6em;
    height: 6em;
    padding: 1em;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    transform: rotate(4deg);
    transition: transform .15s linear;
    margin: 1em;
    position: relative;
    top: 5px;
    margin-top: 5%;
}
  
.complete-task-instruction{
    cursor: default;
    line-height: 1;
    text-align: center;
    color: black;
    background: #ccffcc;
    width: 6em;
    height: 6em;
    padding: 1em;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    transform: rotate(-3deg);
    transition: transform .15s linear;
    margin: 1em;
    position: relative;
    top: -5px;
    margin-top: 5%;
}
  
.delete-instruction:hover,
.save-instruction:hover,
.complete-task-instruction:hover{
    box-shadow: 10px 10px 7px rgba(0,0,0,.7);
    transform: scale(1.25);
    position:relative;
    z-index: 5;
}


.abouttodo-button {
    margin-left: 7%;
    padding: 1%;
    border-radius: 10px;
    background-color: salmon;
    color: white;
    text-decoration: none;
}

#i {
    color: rgb(119, 119, 119);
}