#calendar-page-container {
    height: 100%;
    width: 100%;
}

.rbc-calendar {
    height:65vh;
    width:87vw;
    margin-top: 4%;
}

.rbc-month-view {
    margin-top: 1%;
    border: 0.3px solid rgb(160, 148, 148);
    border-radius: 10px;
}

.rbc-time-view {
    margin-top: 1%;
    border: 0.3px solid rgb(160, 148, 148);
    border-radius: 10px;
}

.rbc-header {
    padding-top: 1%;
    padding-bottom: 1%;
}

.rbc-toolbar-label {
    font-size: 1.5rem;
    margin-bottom: 1%;
}

.rbc-btn-group {
    margin-bottom: 1%;
}

button {
    cursor: pointer;
}

.rbc-event {
    background-color: rgb(253, 166, 156);
}

.rbc-event.rbc-selected {
    background-color: rgb(253, 166, 156);
}

.rbc-event-content {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
