.rbc-calendar {
    height:70vh;
    margin-left: 7%;
    width:85vw;
    margin-top: 2%;
}


.rbc-month-view {
    margin-top: 1%;
    border: 0.3px solid rgb(160, 148, 148);
    border-radius: 10px;
}

.rbc-time-view {
    margin-top: 1%;
    border: 0.3px solid rgb(160, 148, 148);
    border-radius: 10px;
}

.rbc-header {
    padding-top: 1%;
    padding-bottom: 1%;
}

.rbc-toolbar-label {
    font-size: 30px;
}

.rbc-event {
    background-color: rgb(253, 166, 156);
}

.rbc-event.rbc-selected {
    background-color: rgb(253, 166, 156);
}

.rbc-event-content {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.rbc-btn-group > button {
    align-self: center;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border: 2px solid gray;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .55rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-bottom: 5%;
}

.rbc-btn-group > button:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.rbc-btn-group > button:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.task-tracker-nav-link {
    margin-left: 7%;
    background-color: salmon;
    color: white;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border-radius: 10px;
    text-decoration: none;
}
