/* Todolist */
.task-tracker-page {
    width: 100%;
    height: 100%;
}

.task-tracker-nav-link {
    margin-left: 7%;
    background-color: salmon;
    color: white;
    padding: 0.8rem;
    border-radius: 10px;
    text-decoration: none;
}

.task-tracker-container {
     width:90%;
     height:100%;
     margin-top: 3rem;
     margin-left: 7%;
}

#todo-items-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#todo-table {
    width: 68vw;
    height: 55vh;
    padding: 1rem;
    border-radius: 5px;
    background-color: rgb(181, 201, 218);
    overflow: scroll;
}

#notes-label {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

#sticky-note-container {
    width: 30vw;
    height: 55vh;
    margin-left: 2vw;
    padding: 1rem;
    border-radius: 5px;
    background-color: antiquewhite;
    border-width: 0px;
    resize: none;
}

.create-task-button,
#submit-task-button,
#inquiry-button {
    border-radius: 5px;
    border-width: 0px;
    margin-right: 3%;
    margin-bottom: 2%;
    font-size: 1em;
    padding: 0.7em;
    background-color: rgb(110, 207, 246);
    color: white;
    font-family:'Josefin Sans', sans-serif;
    font-variant: normal; 
    text-decoration: none;
    cursor:pointer;
}

#submit-task-button {
    background-color: rgb(105, 208, 100);
}

#inquiry-button {
    font-size: 1em;
    padding: 0.78m;
}

/* Todoitem */ 
#display-todo-title-container {
    display: flex;
    flex-direction: column;
    border-width: 0px;
    border-radius: 5px;
    margin-bottom: 1em;
    padding: 1em;
    height: 15%;
    text-align: start;
    font-family:'Josefin Sans', sans-serif;
    font-variant: normal; 
    background-color: rgb(255, 255, 255);
    color: rgb(71, 71, 71);
    font-size: 1em;
}

#display-todo-first-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#display-task-title {
    margin-top: 0%;
    padding: 0.3em;
    font-size: 1em;
}

#display-task-urgency {
    margin-left: 1%;
    margin-top: 0%;
    padding: 0.3em;
    margin-left: 2%;
    border-radius: 5px;
    font-size: 1em;
    color: white;
}

#display-task-control-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 0%;
}

.display-task-control {
    margin-right: 2%;
    border-width: 0px;
    background-color: white;
}

.todo-icon {
    color: rgb(119, 119, 119);
    cursor: pointer;
}

#display-task-description {
    padding: 1em;
    border-radius: 5px;
    background-color: rgb(131, 161, 186);
    font-size: 15px;
    color: white;
}

/* Sticky */
#sticky-textbox {
    width: 90%;
    height: 45vh;
    margin-top: 3%;
    border-radius: 5px;
    border-width: 0px;
    background-color: transparent;
    text-align: start;
    font-family:'Josefin Sans', sans-serif;
    font-variant: normal; 
    outline: none;
    font-size: 1em;
    padding: 0.5em;
    color: black;
    margin-left: 3%;
    resize: none;
}

#sticky-button {
    border-width: 0px;
    background-color: salmon;
    font-family:'Josefin Sans', sans-serif;
    font-variant: normal; 
    font-size: 0.9rem;
    padding: 0.5em;
    border-radius: 5px;
    margin-top: 5%;
    margin-left: 3%;
    color: white;
    cursor: pointer;
}

.sticky-text {
    font-size: 15px;
}

/* Create todo */ 
#create-task-container {
    position: absolute;
    background-color: rgb(181, 201, 218);
    height:56.5%;
    width: 57%;
    z-index: 99;
    border-radius: 5px;
    height: 55vh;
    padding: 1rem;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
}

.input-label {
    font-size: 15px;
    color: white;
}

#title-input,
#desc-input,
#urgency-input {
    resize: none;
    border-radius: 5px;
    border: 0.5px solid rgb(97, 97, 97); 
    padding: 2%;
    font-family:'Josefin Sans', sans-serif;
    font-variant: normal; 
    font-size: 15px;
    margin-top: 1%;
    background-color: white;
    -webkit-appearance:none;
}

#desc-input {
    height: 13vh;
}


/* Edittodo */
#edit-todo-container {
    display: flex;
    flex-direction: column;
    margin-top: 7%;
    margin-left: 7%;
    width: 80%;
}


#edit-todo-navlink {
    text-decoration: none;
    background-color: salmon;
    padding: 0.7em;
    border-radius: 10px;
    color: white;
    margin-bottom: 5%;
}

#edit-todo-input-container {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

.edit-todo-label {
    font-size: 1em;
    margin-bottom: 1%;
    margin-top: 2%;
}

.edit-todo-input {
    border-radius: 5px;
    border-width: 0px;
    text-align: start;
    font-family:'Josefin Sans', sans-serif;
    font-variant: normal; 
    font-size: 1.1em;
    padding: 0.7rem;
    resize: none;
    background-color: white;
}

#edit-todo-desc {
    height: 25vh;
}

#edit-todo-urgency {
    width: 10%;
}

#edit-todo-button {
    background-color: salmon;
    border-width: 0px;
    border-radius: 10px;
    padding: 0.7rem;
    color: white;
    font-family:'Josefin Sans', sans-serif;
    font-variant: normal; 
    font-size: 1rem;
    margin-top: 3%;
    cursor: pointer;
    -webkit-appearance:none;
}


/* Sort tasks */
#sort-tasks-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1%;
    border-radius: 10px;
    background-color: aliceblue;
    margin-left: 20vw;
    position: absolute;
    opacity: 0.85;
    overflow: scroll;
    max-height: 33vh;
}

.sort-tasks-button {
    display: flex;
    border-width: 0px ;
    font-size: 0.9rem;
    font-family:'Josefin Sans', sans-serif;
    border-radius: 10px;
    background-color: transparent;
    text-align: start;
    align-items: center;
    padding: 1rem;
}

.sort-tasks-button:hover {
    background-color: rgb(124, 194, 255);
}