#login-container,
#signup-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
    height: 100%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
}

#login-credentials-container,
#signup-credentials-container {
    width: 40%;
    height: 100%;
}

#login-img-container,
#signup-img-container {
    width: 60%;
    height: 100%;
}

#login-text-desc-container,
#signup-text-desc-container {
    margin-top: 10%;
    margin-bottom: 5%;
}

#login-form,
#signup-form {
    margin-top: 5%;
}

.login-label-container,
.signup-label-container {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    padding-bottom: 2%;
}


#login-img,
#signup-img {
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-top: 5%;
}

.login-input,
.signup-input {
    padding: 0.5rem;
    border-radius: 5px;
    border: 0.8px solid grey;
    margin-top: 1%;
    font-family:'Josefin Sans', sans-serif;
    font-variant: normal; 
    font-size: 1rem;
}

#login-error,
#signup-error {
    font-size: 0.9rem;
    color: rgb(255, 51, 28);
}

.login-button,
.signup-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 5rem;
    margin-bottom:5%;
    margin-top:5%;
    padding: 0.7em;
    background-color: #c0f1fe;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 2px rgb(183, 182, 182);
}

.login-button:hover,
.signup-button:hover:hover {
    background-color: #85e1f8;
    transition: background-color 0.5s;
}

.login-button:active,
.signup-button:hover:active {
    color: black;
    background-color: #85e1f8;
    box-shadow: 0 2px rgb(183, 182, 182);
    transform: translateY(4px);
}
