.signup-container,
.login-signup-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60vw;
    height: 60vh;
    margin-left: 25vw;
    margin-right: 20vw;
    margin-top: 20vh;
    margin-bottom: 20vh;
}

.credentials-container {
    width: 30%;
}

form.signup-form,
form.login-form {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
}

form.signup-form > div,
form.login-form > div {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom:3%;
}

.login-img,
.signup-img {
    width: 300px;
    height:300px;
    margin-left: 50%;
    margin-top: 15%;
}

.login-label-container,
.signup-label-container {
    display: flex;
    flex-direction: column;
}

.signup-input,
.login-input {
    width: 350px;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family:'Josefin Sans', sans-serif;
}

/* Common */
form.signup > div > .signup-label,
form.login > div > .login-label {
    font-size: 17px;
}

.signup-input,
.login-input {
    font-size: 15px;
    border: 0.5px solid gray;
    border-radius: 5px;
    padding:2%;
    margin-bottom: 1%;
}

.signup-button,
.login-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin-bottom:5%;
    margin-top:5%;
    padding: 10px;
    background-color: #c0f1fe;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 2px rgb(183, 182, 182);
}


.signup-button:hover:hover,
.login-button:hover {
    background-color: #85e1f8;
    transition: background-color 0.5s;
}

.signup-button:hover:active,
.login-button:active {
    color: black;
    background-color: #85e1f8;
    box-shadow: 0 2px rgb(183, 182, 182);
    transform: translateY(4px);
}

.login-signup-error {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}