#collab-canvas-container {
    margin-top: 5%;
}

#canvas-description {
    margin-left: 7%;
    margin-bottom: 1%;
}

#colour-picker-container {
    display: flex;
    flex-direction: row;
    height: 5vh;
    align-items: center;
    margin-bottom: 1%;
}

#nav-link-canvas {
    padding: 0.5em;
    margin-left: 7%;
    text-decoration: none;
    background-color: salmon;
    border-radius: 5px;
    color: white;
}

#colour-picker-caption {
    margin-left: 3%;
}

#colour-picker {
    margin-left: 1%;
    background: none;
    border-radius: 5px;
    border-width: 0px;
    cursor: pointer;
}


#squaregrid {
    width: 60%;
    height: 100%;
    display: grid;
    grid-template: repeat(50, 1fr) / repeat(50, 1fr);
    margin-left: 7%;
    margin-top: 2%;
    margin-bottom: 5%;
    background-color: white;
}

.cell {
    width:20px;
    height:20px;
    border-width: 0px;
    border-radius: 0px;
}








