.squaregrid {
    width: 60%;
    height: 100%;
    display: grid;
    grid-template: repeat(50, 1fr) / repeat(50, 1fr);
    margin-left: 7%;
    margin-top: 3%;
    margin-bottom: 5%;
    background-color: white;
}

.cell {
    font-size: 2em;
    width:27px;
    height:27px;
    border-width: 0px;
    border-radius: 0px;
}

.cell-clicked {
    background: rgb(241, 223, 169);
    font-size: 2em;
    width:20px;
    height:20px;
    border-width: 0px;
    border-radius: 5px;
}

.canvas-description {
    margin-left: 7%;
    margin-bottom: 3%;
}

.nav-link-canvas {
    padding: 1%;
    margin-left: 7%;
    text-decoration: none;
    background-color: salmon;
    border-radius: 5px;
    color: white;
}

.colour-picker-container {
    display: flex;
    flex-direction: row;
}

.colour-picker-caption {
    margin-left: 30px;
}

.colour-picker {
    margin-left: 10px;
    margin-top: 10px;
}