.comments-container {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 5%;
}

.back-to-home-page-from-comments {
    text-decoration: none;
    color: rgb(103, 101, 101);
    width: 40px;
    height: 20px;
}

.back-to-home-page-from-comments:hover {
    text-decoration: none;
    color: rgb(103, 101, 101);
    background-color: lightgray;
    border-radius: 10px;
    padding: 10px;
}

.post-title-in-comment-page {
    font-size: 40px;
}

.post-body-in-comment-page {
    font-size: 15px;
    margin-top: 0px;
}

/* Create Comments */
.create-comment-container {
    display: flex;
    flex-direction: column;

}

.create-comment-input {
    resize: none;
    border: 0.5px solid lightgray;
    height: 150px;
    width: 80%;
    border-radius: 10px;
    padding-left: 2.5%;
    padding-top: 2.5%;
    font-family:'Josefin Sans', sans-serif;
    font-variant: normal; 
    font-size: 15px;
}

.submit-comment-button {
    text-align: left;
    height:5%;
    width:6%;
    margin-top: 2.5%;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: salmon;
    border-width: 0px;
    color: white;
    border-radius: 10px;
    font-family:'Josefin Sans', sans-serif;
    font-variant: normal; 
    font-size: 15px;
}


/* Current Comments */

.comment-container {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    padding-top: 2%;
    padding-left: 1%;
    padding-right: 2%;
    padding-bottom: 1%;
    width: 80%;
    background-color: aliceblue;
    border-radius: 10px;
    border: 0.5px solid lightgrey;
    margin-bottom: 5%;
}

.user-comment-profile {
    width:50px;
    height:50px;
    background-color: azure;
    margin-left: 0px;
    margin-top: 0px;
    border: 0.5px solid grey;
}

.comment-content-container {
    margin-left: 2%;
}

.comment-content-user {
    font-size: 13px;
    color: rgb(145, 144, 144);
}

.comment-content-body {
    margin-top: 10px;
    font-size: 15px;
}
