#comments-container {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 5%;
}

#comments-nav-link {
    text-decoration: none;
    color: white;
    background-color: salmon;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 10px;
}

#comments-page-post-title {
    font-size: 2rem;
    margin-top: 4%;
}

#comments-page-post-body {
    font-size: 1rem;
    margin-top: 1%;
}

#create-comment-container {
    display: flex;
    flex-direction: column;
}


/* Create Comments */
#create-comment-input {
    resize: none;
    border: 0.5px solid lightgray;
    height: 15vh;
    width: 75vw;
    border-radius: 10px;
    padding: 1rem;
    font-size: 1rem;
    font-family:'Josefin Sans', sans-serif;
    font-variant: normal; 
}

#submit-comment-button {
    width:4rem;
    margin-top: 2%;
    border-width: 0px;
    border-radius: 10px;
    font-family:'Josefin Sans', sans-serif;
    font-variant: normal; 
    font-size: 1rem;
    padding: 0.5rem;
    color: white;
    background-color: salmon;
}


/* Comment */
#comment-container {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    padding: 1rem;
    width: 75vw;
    background-color: aliceblue;
    border-radius: 10px;
    border: 0.5px solid lightgrey;
    margin-bottom: 2vh;
}

#comment-img-container {
    width:10vh;
}

#user-comment-profile {
    width:50px;
    height:50px;
    border-radius: 40px;
    border: 0.5px solid grey;
    background-color: azure;
}

#delete-comment {
    border: 0px;
    margin-top: 0.5vh;
    height:30px;
    color: darkgray;
    background-color: aliceblue;
}

.comment-content-container {
    margin-left: 0.5vw;
}

#comment-content-user {
    font-size: 0.8rem;
    color: rgb(145, 144, 144);
}

#comment-content-body {
    font-size: 1rem;
}

