#forum-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
}

#forum-side-bar {
    display: flex;
    flex-direction: column;
    margin-left: 7%;
    width: 10vw;
}

.nav-link-forum {
    font-size: 1rem;
    padding: 0.8rem;
    margin-bottom: 3vh;
    border: 0px;
    border-radius: 5px;
    background-color: salmon;
    text-decoration: none;
    color: white;
}

#forum-post-feed {
    display: flex;
    flex-direction: column;
    width:80vw;
    margin-bottom: 5vh;
}

#forum-search-bar-container {
    display: flex;
    flex-direction: row;
}

#forum-search-bar {
    margin-left: 3vw;
    width: 70vw;
    padding: 1rem;
    font-size: 1rem;
    font-family:'Josefin Sans', sans-serif;
    border-width: 0px;
    border-radius: 5px;
}

#refresh-button {
    margin-left: 0.5%;
    border-width: 0px;
    background-color: transparent;
    margin-bottom: 1%;
}

#forum-search-results-container {
    margin-left: 3vw;
    width:73vw;
    border-radius: 10px;
    margin-top: 9vh;
    z-index: 99;
    position: absolute;
    overflow: scroll;
    background-color: aliceblue;
}


#forum-search-results {
    display: flex;
    width:100%;
    font-size:1rem;
    padding:1rem;
    font-family:'Josefin Sans', sans-serif;
    text-align: start;
    border-width: 0px;
    align-items: center;
    justify-content: flex-start;
    background-color: aliceblue;
    border-radius: 10px;
}

#forum-search-results-icon {
    margin-right: 1%;
    margin-left: 1%;
}


/* Post */ 
#post-container {
    display: flex;
    flex-direction: row;
    background-color: rgb(240, 240, 240);
    padding: 1rem;
    width: 70vw;
    margin-left: 3vw;
    margin-top: 3vh;
    border-radius: 10px;
}

#post-user-details-container {
    display: flex;
    flex-direction: column;
}

#post-user-pic {
    width:75px;
    height:75px;
    margin-left: 2%;
    margin-right: 2%;
    background-color: rgb(255, 255, 255);
    opacity: 60%;
    border-radius: 40px;
}

#delete-post {
    border:0px;
    font-family:'Josefin Sans', sans-serif;
    font-variant: normal; 
    padding: 0.4rem;
    border-radius: 10px;
    background: none;
    color: gray;
    margin-top: 1vh;
}


#post-content-container {
    margin-left: 3vw;
}

#post-header-container {
    display: flex;
    flex-direction: column;
}

#post-user {
    margin-top: 2%;
    font-size: 0.8rem;
}

#post-title {
    font-size: 2rem;
    margin-top: 1%;
    margin-bottom: 1%;
}

#post-content {
    margin-top: 1%;
    margin-bottom: 3vh;
}

#forum-post-comments-nav-link {
    font-size: 0.7rem;
    color: gray;
    text-decoration: none;
}

#forum-post-comments-nav-link:hover {
    background-color: lightgray;
    font-size: 0.7rem;
    border-radius: 10px;
    padding: 0.5rem;
}
