/* Container */
#home-page-container {
    width: 100%;
    height: 100%;
}

#home-page-img-container {
    width: 87%;
    margin-left: 7%;
    height: 90%;
}

#home-page-content-container {
    width: 87%;
    margin-left: 7%;
}

#home-page-title {
    font-size: 2rem;
    margin-left: 1%;
}

.home-page-events {
    font-size: 1.2rem;
    margin-left: 1%;
}

#home-page-signout {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: #2ba4c2;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    padding: 0.7rem;
    margin-top: 2%;
    margin-left: 1%;
    font-size: 0.8rem;
}

#home-page-signout a {
    color: white;
    text-decoration: none;
}
  
#home-page-signout:hover {
    background-color: #105a87;
    transition: background-color 0.5s;
}
  
#home-page-signout:active {
    background-color: #105a87;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


#afternoon,
#evening {
    display: flex;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 40vh;
    width: 77vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-top: 3%;
    border-radius: 20px;
    color: rgb(90, 90, 90);
    font-weight: bold;
}

#afternoon {
    background-image: url('../img/afternoon.png');
}

#evening {
    background-image: url('../img/evening.png');
}
