.title-container {
    display: flex;
}

.title-text {
    background-color: rgb(255, 195, 195);
    width:24%;
    padding: 3%;
    border-radius: 20px;
    margin-right: 3%;
    font-size: 20px;
    text-align: center;
}

.bar-container {
    display: flex;
    margin-left: 5%;
    margin-top: 2%;

}



.bar-text {
    display: flex;
    background-color: rgb(255, 251, 195);
    margin-left: 5%;
    margin-bottom: 4%;
    padding:5%;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 20px;
}

.line-text {
    display: flex;
    background-color: rgb(220, 243, 204);
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 4%;
    padding:5%;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 20px;
}

.activity-heat-map {
    display: flex;
}

.activity-heat-map-text {
    display: flex;
    background-color: rgb(255, 244, 212);
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-top: 2%;
    padding:5%;
    border-radius: 50px;
    font-size: 20px;
}

