/* Journal Entry */
#journal-entry-container {
    display: flex;
    flex-direction: column;
    margin-left: 7%;
    margin-top: 5%;
}

#journal-entry-nav-link {
    padding: 1rem;
    font-size: 1rem;
    background-color: salmon;
    color: white;
    text-decoration: none;
    width: 2em;
    margin-bottom: 5vh;
    border-radius: 10px;
}
.journal-entry-prompts {
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
}

.journal-entry-label {
    margin-bottom: 1vh;
}

.journal-entry-input {
    height:30vh;
    width:80vw;
    border-radius: 10px;
    resize: none;
    border-width: 0px;
    padding: 1rem;
    font-size: 1rem;
    font-family:'Josefin Sans', sans-serif;
}

#journal-entry-button-container {
    display: flex;
    flex-direction: row;    
    margin-bottom: 10vh;
    margin-top: 1vh;
}

.journal-entry-button {
    padding: 1rem;
    font-size: 1rem;
    border-radius: 5px;
    font-family:'Josefin Sans', sans-serif;
    background-color: salmon;
    color: white;
    border-width: 0px;
    margin-right: 5vh;
}

/* Journal Submission */
#active-journal-submission,
#archive-journal-submission {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    margin:0px;
}

#active-journal-submission {
    background-image: url('../img/planet.gif');
}

#archive-journal-submission {
    background-image: url('../img/kirby.gif');
}

.journal-submission-text {
    text-align: center;
    padding-top: 3vh;
    font-weight: bold;
    font-size: 2rem;
}

.journal-nav-icon {
    margin-left: 3vw;
    margin-top: 5vh;
}



/* All Journal Entries */
.journal-entries-container {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 7%;
}

.journal-entries-nav-link {
    padding: 0.7rem;
    font-size: 1rem;
    width: 2rem;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background-color: salmon;
}

.journal-entries-title {
    margin-top: 5vh;

}

/* Journal Entry */
#created-entries-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
}


#archived-entries-title,
#active-entries-title {
    font-size: 1rem;
    width:80%;
    padding: 1.5rem;
    margin-bottom: 3vh;
    border-radius: 10px;
    border-width: 0px;
    text-align: start;
    font-family:'Josefin Sans', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}


#archived-entries-title {
    background-image: url('../img/bg-3.png');
}

#active-entries-title {
    background-image: url('../img/bg-1.png');
}

.created-entries-text {
    margin-left: 1vw;
    margin-top: 3vh;
}

.created-entries-button {
    width:15vw;
    font-size: 1rem;
    padding: 0.8rem;
    margin-top: 3vh;
    margin-bottom: 3vh;
    border-width: 0px;
    border-radius: 10px;
    color: white;
    background-color: salmon;
    font-family:'Josefin Sans', sans-serif;
}


/* Main - side column container */ 
#achievements-container {
    display: flex;
    flex-direction: row;
    margin-left: 7%;
}

#side-column-container {
    display: flex;
    flex-direction: column;
    width:20vw;
}

#side-column-journal-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#side-column-journal-title-container {
    display: flex;
    flex-direction: row;
}

#side-col-edit-journal-links {
    margin-left: 0.5vw;
    margin-top: 1.5vh;
}

#side-column-books-container {
    display: flex;
    flex-direction: row;
}

.side-column-img {
    border-radius: 10px;
    width:5vw;
    height:15vh;
    margin-right:2vw;
    margin-bottom: 2vh;
}

#side-column-links-container {
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
}

.side-column-ext-links {
    width: 13vw;
    padding: 0.8rem;
    font-size: 1rem;
    text-decoration: none;
    color: white;
    background-color: salmon;
    border-radius: 5px;
    margin-bottom: 2vh;

}

/* Main - Analytics container */ 
#analytics-container {
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin-left: 1vw;
}

#overall-analytics-container {
    display: flex;
    flex-direction: row;
}

.overall-analytics-desc {
    padding: 1.5rem;
    margin-right: 5%;
    background-color: rgb(210, 234, 255);
    border-radius: 10px;
    font-size: 1rem;
    margin-top: 1vh;
}

/* Calendar */
.react-calendar-heatmap {
    width: 60vw;
    margin-bottom: 3vh;
}

.react-calendar-heatmap text {
    font-size: 0.7rem;
  }
  
.react-calendar-heatmap .color-empty {
    fill: lightgray;
    border-radius: 100px;
  }

.react-calendar-heatmap .color-scale-1 { fill: #d6e685; }
.react-calendar-heatmap .color-scale-2 { fill: #8cc665; }
.react-calendar-heatmap .color-scale-3 { fill: #44a340; }
.react-calendar-heatmap .color-scale-4 { fill: #217b27; }
.react-calendar-heatmap .color-scale-5 { fill: #115117; }