
.nav-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-top: 1%;
    margin-left: 47%;
    width:50%;
    height:10%;
}

.nav-link {
    text-decoration: none;
    transition: 0.5s;
    padding: 10px;
    font-size: 17px;
    border-radius: 100px;
    color: black;
    white-space: nowrap;
}

.nav-link:hover {
    background-color: rgb(255, 200, 194);
  }