/* Containers */ 
#timer-music-container {
    display: flex;
    flex-direction: row;
    width: 87%;
    height: 100%;
    margin-top: 3%;
    margin-left: 7%;
}

#timer-container {
    width: 30%;
    height: 70vh;
    margin-right: 5%;
}

#music-container {
    width: 65%;
    height: 70vh;
    margin-left: 2%;
}

#text-area-container {
    display: flex;
    flex-direction: column;
    height: 30%;
}

#goal-setting-text-area {
    height: 95%;
    margin-top: 5%;
    border:0px;
    padding: 1rem;
    border-radius: 10px;
    font-size: 0.9rem;
    font-family:'Josefin Sans', sans-serif;
    resize: none;
    background-color: #e4c4f3;
}

#countdown-container {
    height: 70%;  
}

/* Countdown */ 
#countdown-card {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(204, 231, 255);
    margin-top: 5%;
    height: 70%;
    padding: 5%;
    border-radius: 10px;
}

.countdown-timeDisplay {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 13%;
    font-size: 3em;
}

#countdown-buttons-first-row,
#countdown-buttons-second-row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    width: 100%;
    margin: 5%;
    text-align: center;
}

.countdown-setTime {
    border: solid 1px transparent;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    background-color: salmon;
    cursor: pointer;
    height: 70%;
    width: 15%;
    margin-left: 8%;
    margin-right: 8%;
    font-size: 90%;
}

.countdown-setTime:hover {
    background-color: #105a87;
}

.countdown-start,
.countdown-stop,
.countdown-reset {
    background-color: #2ba4c2;
    border: solid 1px transparent;
    border-radius: 10px;
    padding: 0.7em;
    color: #ffffff;
    font-size: 1rem;
    margin-top: 5%;
    cursor: pointer;
    margin-right: 10px;
    font-family:'Josefin Sans', sans-serif;
}

.countdown-start:hover,
.countdown-stop:hover,
.countdown-reset:hover {
    background-color: #105a87;
}

/* Pop-up page for Timer */
#popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(102, 102, 102, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.95;
}
  
#popup-inner {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: center;
}

#timer-done-title {
    margin-top: 40vh;
}

#timer-done-text {
    margin-top: 5vh;
}
  
#popup-inner #close-btn {
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    margin: 10px 0;
    padding: 10px 15px;
    color: white;
    background-color: #2ba4c2;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    border-radius: 15px;
    box-shadow: 0 5px #999;
}

#popup-inner #close-btn:hover {
    background-color: #105a87;
    transition: background-color 0.5s;
}

#popup-inner #close-btn:active {
    background-color: #105a87;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.fa-trophy {
    color: #f7a202;
}


/* Music */ 
#music-button-container {
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    margin-bottom: 3%;
}

#music-genre-select {
    font-family:'Josefin Sans', sans-serif;
    font-size: 1rem;
    border-width: 0px;
    border-radius: 10px;
    padding: 0.5rem;
    background-color: white;
    width:20%;
}

#music-search-bar {
    margin-left: 3%;
    width:60%;
    padding: 0.5em;
    font-size: 1rem;
    font-family:'Josefin Sans', sans-serif;
    border-radius: 10px;
    border-width:0px;
}

#next-button {
    background-color: rgb(119, 119, 119);
    font-family:'Josefin Sans', sans-serif;
    border-radius: 10px;
    border-style: none;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    outline: none;
    margin-left: 3%;
    padding: 0.5rem;
    width:20%;
}

#music-search-options-container {
    display: flex;
    flex-direction: column;
    width:32%;
    margin-bottom: 1%;
    border-radius: 10px;
    background-color: aliceblue;
    margin-left: 12%;
    position: absolute;
    opacity: 0.85;
    overflow: scroll;
    max-height: 33vh;
}

#music-search-option {
    display: flex;
    border-width: 0px ;
    font-size: 15px;
    font-family:'Josefin Sans', sans-serif;
    border-radius: 10px;
    background-color: transparent;
    text-align: start;
    align-items: center;
    padding: 3%;
}

#music-title-text {
    width:60%;
    margin-top: 0%;
    margin-bottom: 1%;
}

#music-bg {
    width: 100%;
    height: 52vh;
    border-radius: 10px;
}

#audio-bar {
    width:100%;
    height:2em;
    border-radius: 100px;
    margin-top: 3%;
}





